*{
padding:0;
margin:0;
box-sizing:border-box;
}
.conteneur{
min-height:100vh;
width:100%;
display:flex;
justify-content:center;
align-items:center;
}
.gallerie
{
display:flex;
gap:5px;
}
.image
{
width:90px;
height:400px;
background:url("image009.jpg");
background-position:center;
background-size:cover;
border-radius:60px;
transition:width 0.5s;
position:relative;
}
.image:nth-child(2){
background:url("image0019.jpg");
background-position:center;
background-size:cover;
}
.image:nth-child(3){
background:url("image0013.jpg");
background-position:center;
background-size:cover;
}
.image:nth-child(4){
background:url("image006.jpg");
background-position:center;
background-size:cover;
}
.image:nth-child(5){
background:url("image0018.jpg");
background-position:center;
background-size:cover;
}
.image:nth-child(6){
background:url("image0014.jpg");
background-position:center;
background-size:cover;
}
.image:nth-child(7){
background:url("image0020.jpg");
background-position:center;
background-size:cover;
}
.image:nth-child(8){
background:url("image008.jpg");
background-position:center;
background-size:cover;
}
.image:hover{
width:300px;
}
.image h3{
color:black;
position:absolute;
top:0:
left:20px;
opacity:0;
transition:opacity 0.5s,top 0.5s;
}
.image:hover h3{
opacity:1;
top:20px;
}
body
{
background-position:30px 50px;

}
h3
{
opacity:1;
font-family:Comic Sans MS,Arial,Arial Black;
}
