:focus
{
background-color:aqua;
}
p
{
font-size:x-large;
}
*
{
font-family:Comic Sans MS,Arial,Arial Black;
color:black;
}
.nas
{
text-decoration:underline;
color:teal;
}
#na
{
text-align:center;
color:maroon;
}
#n
{
text-align:justify;
}
body
{
background-image:url("image0047.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-position:center;
background-size:cover;

}
p
{
opacity:1;
}